<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-vue@3.0.0-beta.5/dist/bootstrap-vue.min.css" rel="stylesheet">
    <link rel="stylesheet" href="StyleSheet.css">
    <title>CS 5003 P3</title>
</head>

<body>
    <h1>Social Running</h1>
    <div id="app">
        <div v-if="isLoggedIn" class="profile-icon" @click="toggleProfile">
            &#128100;
        </div>
        <!-- Login Form -->
        <div v-if="showSection === 'login'" class="container">
            <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
                <h2 class="text-center mb-4">Login or Register</h2>
                <div class="col-12 col-md-6 col-lg-4">
                    <form @submit.prevent="login">
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" v-model="username" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" v-model="password" required>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Login</button>
                            <button type="button" class="btn btn-secondary" @click="register">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Event List -->
        <div v-if="showSection === 'eventList' && !showProfile" class="event-grid">
            <h2>Event List</h2>
            <div class="grid-container">
                <CCard v-for="run in runs" :key="run._id" class="run-card" style="width: 17rem">
                    <CCardImage orientation="top" src="/P3/Client/images/steven-lelham-atSaEOeE8Nk-unsplash.jpg" />
                    <CCardBody>
                        <CCardTitle>{{ run.eventName }}</CCardTitle>
                        <CCardText>
                            <p>Date: {{ new Date(run.date).toLocaleDateString() }}</p>
                            <p>Start Time: {{ run.startTime }}</p>
                            <p>Start Location: {{ run.startLocation }}</p>
                            <p>End Location: {{ run.endLocation }}</p>
                            <p>Length: {{ run.length }}</p>
                            <p>Type: {{ run.runType }}</p>
                        </CCardText>
                        <button @click="openSignUpModal(run)">Sign Up</button>
                    </CCardBody>
                </CCard>
            </div>
        </div>
        <!-- Create Run Form -->
        <div v-if="showSection === 'createRun'">
            <h2>Create Run</h2>
            <form @submit.prevent="submitRun">

                <!-- Run Name -->
                <CForm>
                    <CFormInput type="string" id="event-name" label="Event Name" placeholder="Saturday Afternoon Run" />
                </CForm>

                <!-- Date -->
                <div class="row">
                    <div class="col-lg-4">
                        <CDatePicker label="Date" locale="en-US" />
                    </div>
                    <div class="col-lg-4">
                        <CDatePicker date="2022/2/16" label="Date" locale="en-US" />
                    </div>
                </div>

                <!-- start time -->
                <input type="time" v-model="startTime" required>

                <!-- start location -->
                <CForm>
                    <CFormInput v-model="startLocation" type="string" id="startLocation" label="Starting Location"
                        placeholder="e.g., Central Park, New Yorkk" required />
                </CForm>

                <!-- end location -->
                <CForm>
                    <CFormInput v-model="endLocation" type="string" id="endLocation" label="Ending Location"
                        placeholder="e.g., Central Park, New York" required />
                </CForm>

                <!-- run length in miles -->
                <CForm>
                    <CFormInput v-model="length" type="int" id="length" label="Miles" placeholder="e.g., 3" required />
                </CForm>

                <!-- run type -->
                <CFormFloating>
                    <CFormSelect v-model="runType" required id="run-type" floatingLabel="Works with selects"
                        aria-label="Run Type">
                        <option value="loop">loop</option>
                        <option value="Out and Back">Out and Back</option>
                        <option value="Point to Point">Point to Point</option>
                    </CFormSelect>
                </CFormFloating>
                <!-- Include other fields as needed -->
                <button type="submit">Submit Run</button>
            </form>
        </div>
        <template>
            <div v-if="showProfile">
                <div style="margin-bottom: 20px;">
                    <button @click="backToRuns" class="back-to-runs-button">&#x2190; Back to Runs</button>
                </div>
                <b-nav variant="underline-border">
                    <b-nav-item>
                        <b-nav-link href="#" @click="currentTab = 'Signed Up Runs'"
                            :active="currentTab === 'Signed Up Runs'">
                            Signed Up Runs
                        </b-nav-link>
                    </b-nav-item>
                    <b-nav-item>
                        <b-nav-link href="#" @click="currentTab = 'Completed Runs'"
                            :active="currentTab === 'Completed Runs'">
                            Completed Runs
                        </b-nav-link>
                    </b-nav-item>
                    <b-nav-item>
                        <b-nav-link href="#" @click="currentTab = 'Stats'" :active="currentTab === 'Stats'">
                            Stats
                        </b-nav-link>
                    </b-nav-item>
                </b-nav>
                <div v-if="currentTab === 'Signed Up Runs'">
                    <div v-for="run in signedUpRuns" :key="run._id" class="run-card">
                        <!-- Display details for each signed up run -->
                    </div>
                </div>

                <div v-if="currentTab === 'Completed Runs'">
                    <!-- Display completed runs -->
                </div>

                <div v-if="currentTab === 'Stats'">
                    <!-- Display stats -->
                    <p>Total Miles Run: {{ stats.runningStats.distance }}</p>
                    <p>Total Time Run: {{ stats.runningStats.time }} minutes</p>
                    <p>Total Number of Runs: {{ stats.runningStats.runs }}</p>
                    <p>Experience Level: {{ calculateExperienceLevel(stats.runningStats.distance) }}</p>
                </div>
            </div>
        </template>
        <!-- Sign Up Modal -->
        <div v-if="showSignUpModal" class="modal">
            <div class="modal-content">
                <span class="close" @click="closeSignUpModal">&times;</span>
                <h2>Sign Up for Run</h2>
                <form @submit.prevent="submitSignUp">
                    <label for="username">Your Username:</label>
                    <input type="text" v-model="signUpUsername" required>
                    <button type="submit">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Vue.js library -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- BootstrapVue script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-vue@3.0.0-beta.5/dist/bootstrap-vue.min.js"></script>
    <!-- Your main JavaScript file -->
    <script type="module" src="Main.js"></script>
</body>

</html>