/* @font-face */
@font-face {
    font-family: 'MANIFESTO';
    src: url('/fonts/MANIFESTO.ttf') format('truetype');
}

@font-face {
    font-family: 'Orkney';
    src: url('/fonts/Orkney_Regular.ttf') format('truetype');
}

/* Main Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    background-color: #f4f4f4;
    color: #333;
}

a {
    color: #66a0d3;
    text-decoration: none;
}

h1 {
    font-family: "Orkney";
    text-align: center;
    padding-top: 60px;
    letter-spacing: 6px;
    font-size: 3em;
    margin-bottom: 1rem;
}

h2 {
    text-align: center;
    font-family: monospace;
    font-size: 1.8em;
    margin-bottom: 1rem;
}


/* Navigation Bar */
.nav-wrapper {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    position: sticky;
    top: 0;
    z-index: 1020;
}

.nav-tabs {
    background-color: #566f8b;
    border-bottom: 2px solid #333;
    margin-bottom: 0;
}

.nav-item {
    margin-bottom: -1px;
}

.nav-link {
    color: #f8f9fa;
    transition: background-color 0.2s, color 0.2s;
}

.nav-link.active {
    background-color: #fff;
    color: #333;
    border-color: #dee2e6 #dee2e6 #fff;
}

.nav-link:hover {
    color: #a9c9ec;
}

/* Main Content */
.container {
    width: 90%;
    margin: auto;
    max-width: 1200px;
}


/* run cards */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card-img-top {
    width: 100%;
    height: 160px;
    object-fit: cover;
    object-position: center;
}

.run-card {
    border: 1px solid #ddd;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    height: auto;
}

.card-body {
    font-size: 13px;

}

.run-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.run-card h3 {
    color: #333;
    margin-bottom: 10px;
}

.run-card p {
    color: #666;
    margin-bottom: 5px;
}

.run-card button {
    background-color: #9eaeea;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.run-card button:hover {
    background-color: #6b7fc9;
}

/* Filter Styling */
.filter-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #dee2e6;
    gap: 0.5rem;
}

.filter-item {
    display: flex;
    align-items: center;
}

.filter-item select,
.filter-item input {
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    height: 38px;
}

.filter-item label {
    padding-right: 10px;
    font-size: 15px;
}


.back-to-runs-button {
    background-color: #f5f5f5;
    color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.back-to-runs-button:hover {
    background-color: #e0e0e0;
    color: #5581b0
}

/* Forms & Inputs */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="time"],
input[type="number"],
select,
button,
.btn {
    border-radius: 5px;
    transition: box-shadow 0.2s;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
input[type="number"]:focus,
select:focus {
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.btn-primary {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-primary:hover,
.btn-secondary:hover {
    opacity: 0.85;
}

/* log in/register */
#username,
#password {
    width: 100%;
    margin: auto;
}

/* Create Run */
.create-run-container {
    display: flex;
    flex-direction: row;
    height: 90vh;
}

.map-container,
.form-container {
    flex: 1;
    height: 90%;
    padding: 20px;
}

#map {
    width: 100%;
    height: 100%;
    border-radius: 7%;
}

/* Map Button Styling */
.map-button-container {
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: 20px;
    z-index: 10;
}

.map-button {
    background-color: #d0d9fd;
    color: #505050;
    border: none;
    padding: 10px 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 0.9em;
    font-weight: bold;
    transition: background-color 0.2s, transform 0.2s;
}

.map-button:hover {
    background-color: #7085d1;
    transform: translateY(-2px);
}

.map-button:active {
    background-color: #d0d0d0;
    transform: translateY(1px);
}

#create-run-header {
    text-align: center;
}

.legend {
    background: white;
    padding: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: absolute;
    bottom: 30px;
    left: 10px;
    z-index: 1;
}


/* Sign Up Modal */
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Stats Profile Styling */
.stats-profile {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
}

.stats-profile p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #555;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.stats-profile p::before {
    content: '•';
    color: #0056b3;
    font-size: 1.5rem;
    margin-right: 10px;
}

.badges-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.badge {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #ddd;
    color: #fff;
    transition: background-color 0.3s;
}

.badge.unlocked {
    background-color: #599b5b;
}

.badge i {
    font-size: 24px;
}

.stats-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.stats-profile-container,
.chart-container {
    flex: 1;
    padding: 40px;
}

.chart-container {
    padding: 20px;
    padding-bottom: 50px;
    min-width: 400px;
}

#paceChart {
    width: 90%;
    height: 100%;
}

.footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}