/* Main Styling */
body {
    background-color: #dfe9ec;
}

head {
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

/* profile */
.profile-icon {
    position: fixed;
    top: 20px;
    align-items: right;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
}

.back-to-runs-button {
    background-color: #f5f5f5;
    color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.back-to-runs-button:hover {
    background-color: #e0e0e0;
}



/* log in/register */
#username, #password {
    width: 100%; 
    margin: auto;
}

/* run cards */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.run-card {
    border: 1px solid #ddd;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    height: auto;
}

.run-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.run-card h3 {
    color: #333;
    margin-bottom: 10px;
}

.run-card p {
    color: #666;
    margin-bottom: 5px;
}

.run-card button {
    background-color: #afbef3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.run-card button:hover {
    background-color: #0056b3;
}


/* Sign Up Modal */
.modal {
    display: block;
    /* Hidden by default; set to 'none' to hide modal */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}